/* stylelint-disable */
@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1548293341624') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ych-icon-mendian:before {
  content: "\e60e";
}

.ych-icon-add:before {
  content: "\e614";
}

.ych-icon-duanxin:before {
  content: "\e6cc";
}

.ych-icon-logout:before {
  content: "\e67c";
}

.ych-icon-tixing:before {
  content: "\e642";
}

.ych-icon-scan:before {
  content: "\e653";
}

.ych-icon-gengduo:before {
  content: "\e601";
}

.ych-icon-coin:before {
  content: "\e637";
}

.ych-icon-info:before {
  content: "\e63d";
}

.ych-icon-balloon:before {
  content: "\e617";
}

.ych-icon-empty:before {
  content: "\e652";
}

.ych-icon-setup:before {
  content: "\e628";
}

.ych-icon-account:before {
  content: "\e6b8";
}

.ych-icon-loading:before {
  content: "\e671";
}

.ych-icon-logo:before {
  content: "\e60d";
}

.ych-icon-border:before {
  content: "\e6f5";
}

.ych-icon-noshangpin:before {
  content: "\e60f";
}

.ych-icon-small:before {
  content: "\e602";
}

.ych-icon-kefu:before {
  content: "\e615";
}

.ych-icon-pull-right:before {
  content: "\e63c";
}

.ych-icon-news:before {
  content: "\ea03";
}

.ych-icon-backspace:before {
  content: "\e63a";
}

.ych-icon-bill:before {
  content: "\e6cd";
}

.ych-icon-ticket:before {
  content: "\e6b5";
}

.ych-icon-account-book:before {
  content: "\e604";
}

.ych-icon-wallet:before {
  content: "\e613";
}

.ych-icon-billiards:before {
  content: "\e621";
}

.ych-icon-wenjianjia:before {
  content: "\e606";
}

.ych-icon-goods:before {
  content: "\e600";
}

.ych-icon-dianhua:before {
  content: "\e6d5";
}

.ych-icon-close:before {
  content: "\e603";
}

.ych-icon-order:before {
  content: "\e800";
}

.ych-icon-guanbi:before {
  content: "\e605";
}

.ych-icon-payment:before {
  content: "\e689";
}

.ych-icon-scan-phone:before {
  content: "\e629";
}

.ych-icon-finger:before {
  content: "\e640";
}

.ych-icon-id-card:before {
  content: "\e631";
}

.ych-icon-member-card:before {
  content: "\e632";
}

.ych-icon-keyboard:before {
  content: "\e633";
}

.ych-icon-kuozhan:before {
  content: "\e634";
}

.ych-icon-zoom:before {
  content: "\ea04";
}

